
.runRuleSegment{
    margin-top: 3rem !important;
    margin-bottom: 0 !important;
    i{
        font-size: 1.2rem !important;
    }

    .content{
        font-size: 2rem;
    }
}

.viewRulePageButtonGroup{
    margin: 0 2.05rem !important;
    display: flex;
    justify-content: flex-end;

}