$background-color: rgba(212, 135, 135, 0.1);
$toast-info-color: rgba(39, 119, 238, 0.1);
$toast-success-color: rgba(99, 241, 118, 0.1);
$toast-warning-color:  rgba(232, 241, 99, 0.1);
$toast-error-color:  rgba(241, 116, 99, 0.1);
$white: #fff;