.ui.basic.center.aligned.segment{
    .ui.info.message{
        margin-top: 15rem;
        .ui.form{
            .field{
                .ui.header{
                    margin: 0 0 4rem 31.2rem;
                }
    
                .ui.negative.button{
                    margin-top: 5rem;
                }
            }
        }
    }
    
}