
.runRuleSegment{
    margin-top: 3rem !important;
    margin-bottom: 0 !important;
    min-height: 50rem;
    i{
        font-size: 1.2rem !important;
    }

    .content{
        font-size: 2rem;
    }
}

