.ui.left.icon.input{
    min-width: 75%;
    margin: 1% 0 0 3%;
}
.queston-string-type-buttons{
    margin: 1% 3% 0 0 !important;
}

.stringType-bottom-message{
    height: 7rem;
    .ui.large.right.floated.header{
        margin: 1.7% 3% 0 3%;
    }
}

.answered-stringType-bottom-message{
    display: flex;
    height: 7rem;
    .header{
        // margin-right: 5rem;
        max-width: 56rem;
        padding-right: 56rem;
    }

    .answered-edit-button{
        margin:1.555rem 2rem 0 16rem !important;
        padding-bottom: 2rem;
        width: 8rem !important;
        height: 3.2rem;
    }
}