.ui.left.icon.input{
    min-width: 75%;
    margin: 1% 0 0 3%;
}
.queston-string-type-buttons{
    margin: 1% 3% 0 0 !important;
}

.stringType-bottom-message{
    height: 7rem;
    .ui.large.right.floated.header{
        margin: 1.7% 3% 0 3%;
    }

   
}
.answered-stringType-bottom-message{
    height: 7rem;
    display: flex;
    .input-value{
        width: 65.3rem;
        padding: 1.3rem 5rem 0 35rem !important; 
        // margin: 1.3rem 0 0 0 !important;
    }
    button{
        margin-left: 6.8rem !important;
        margin-top: .8rem !important;
        width: 8rem !important;
        height: 3.2rem;
    }
}