.ui.basic.segment{
    border: none !important;

    .question-date-type-buttons{
        margin-top: 1.7rem;
    }
}

.ui.olive.bottom.attached.message.dateField{

    .ui.large.header{
        margin-top:2rem;
    }
}
.ui.basic.segment.dateField{
    width: 75%;
    margin-left: 1.4rem;

    .ui.large.header{
        margin-top:2rem;
    }
}

.answered-dateType-bottom-message{
    display: flex;
    height: 7rem;
    .form.dateField{
        width: 65.3rem;
        .fields{
            width: 100%;
        }
    }
    button{
        // margin-left: 17.7rem !important;
        margin: 1.555rem 2rem 0 7rem !important;
        width: 8rem !important;
        height: 3.2rem;
    }
}