.ui.basic.segment{
    border: none !important;

    .question-date-type-buttons{
        margin-top: 1.7rem;
    }
}

.ui.olive.bottom.attached.message.dateField{

    .ui.large.header{
        margin-top:2rem;
    }
}
.ui.basic.segment.dateField{
    width: 75%;
    margin-left: 1.4rem;

    .ui.large.header{
        margin-top:2rem;
    }
}